/*!
  * Description: Personal Portfolio : tomsjac
  * Author/Developer: Thomas J
  * Version: v1
  */

/** FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');

/** Include */
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/animations';

/** Default */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5;
}

input[type=number] {
    -moz-appearance: textfield;
}


/** App */
body{
    user-select: none;
    height: auto;
   // overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    background-color: $backgound-color;
}

.content{
    //position: absolute;
    width: 100%;
   // height: 100vh;
    //float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-content-color;
    font-family: $font1;
    //font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 40px;
    z-index: 1;
    animation: scale 1.5s ease;

    .separator, .separator_header{
        margin: 20px 0;
    } 
}

.icons-box{
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: $font2;
    color: $text-icon-color;
    padding: 20px 10px;
    font-weight: 900;

    .icons-box-list{
        display: block;
        font-size: 20px;
        font-family: $font1;
        padding: 15px 8px  8px  8px;
        color: $text-icon-color;
        font-weight: 400;
    }
    
    .withLink{
        cursor: pointer;

    }
}

.profile-image{
    position: fixed;
    bottom: 0;
    right: 0;
  
    img{
        height: 80vh;
    }
}

/** Misc */
.color{
    color: $text-color-secondary;
    transition: all .4s ease;
}


/** Responsive */

/*For devices with smaller width like mobile phone*/
@include media-max("phone") {
    body{
      //background: red;
      overflow-y: auto !important;
    }

    .content{
       // height:auto;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 40px;

        .separator, .separator_header{
            margin: 0 0;
        }

        .separator_header{
            width:90%;
        }
    }

    .icons-box{
        font-size: 15px;
        padding: 10px 5px;
    }

    .profile-image{
        display: none;
    }
}


/*for tabs and large phones*/
@include media-between("phone", "desktop") {
    
    body{
        //background: green;
    }

    .content{
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 40px;
    }

    .icons-box{
        font-size: 20px;
        padding: 15px;
    }

    .profile-image{
        width: 0;
    }
}